<div class="modal-header text-center">
   <h1 class="modal-title" data-bind="html: title, attr: {class: status() == 'failed' ? 'text-danger' : status() == 'queued' ? 'text-warning' : 'text-success'}">Processing Transaction</h1>
</div>

<div class="modal-body text-center">
   <h2 data-bind="html: message">
    Please wait ...
  </h2>
  <!-- ko if: status() == 'succeed' -->
    <img src="images/check-icon.png" style="width: 40px; margin: 21px 11px 10px;">
  <!-- /ko -->

  <!-- ko if: status() == 'failed' -->
    <img src="images/wrong-icon.png" style="width: 40px; margin: 21px 11px 10px;">
  <!-- /ko -->

  <!-- ko if: trace_number -->
  <h2 class="text-warning">
    Trace #:
    <span data-bind="text: trace_number"></span>
    <br/>
    <small>Please take a picture of this confirmation for your reference.</small>
  </h2>
  <!-- /ko -->

</div>

<div class="modal-footer eload-processing" style="text-align: center;">
 <!-- ko if: allow_retry() -->
  <h2 class="text-warning text-left">PAUMANHIN: Medyo matagal ang pag process ng inyong request. Kung hindi mo natanggap ang load, maghintay ng ilang sandali at e-retry.</h2>
  <br>
  <button class="btn btn-warning btn-lg" data-bind="click: retry">
   Re-Try Now
    <span class="number hash-sign">#</span>
  </button>
  <br>
  <br>
  <!-- /ko -->

  <!-- ko if: status() == 'succeed' -->
  <br/>
  <button class="btn btn-success btn-lg" data-bind="click: close">
    OK
    <span class="number hash-sign">#</span>
  </button>
  <br>
  <br>
  <!-- /ko -->

  <!-- ko if: status() == 'failed' -->
  <br/>
  <button class="btn btn-danger btn-lg" data-bind="click: retry">
    Re-Try
    <span class="number hash-sign">#</span>
  </button>
  <br>
  <br>
  <!-- /ko -->
</div>
