<div class="modal-header text-center">
  <h2 class="modal-title text-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    Something went wrong!
  </h2>
</div>

<div class="modal-body text-center">
  <p class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  Unable to synchronize data from server.
  </p>
</div>

<div class="modal-footer text-center">
  <a class="btn btn-primary btn-lg" href="/">
    <span class="glyphicon glyphicon-refresh"></span>
    Click Here
  </a>
</div>

