h1, h2, h3, h4, h5, h6{
  margin: 0 auto;
}

#banners-con {
}

html {
  touch-action:none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* hide input field arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* hide input field arrows */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#banner-text {
  margin: 15px 0;
}

#banner-text, .btn, th, #footer {
  font-family: 'Righteous';
}

a { cursor: pointer; }

img.img-full {
  width: 100%;
}

.btn-group-padded .btn {
  width: 158px;
  margin: 10px;
}

.padd-top {
  padding-top: 15px;
}
.padd-bottom {
  padding-bottom: 15px;
}

#status-nav {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#connection-status img {
  width: 20px;
}

.panel > .panel-heading {
  font-family: 'Righteous';
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.phone-input, .account-input, .acc-name-input, .due-date-input{
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 8px;
  padding: 45px;
}
.regular-load-input{
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 8px;
  padding: 45px;
}
.search-input {
  margin-left: 11px;
  font-size: 18px;
  padding: 21px;
  text-align: left;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.has-image-bg {
  background-size: cover;
  background-position: fixed;
  background-repeat: none;
}

.fa {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*Plugins*/
.fa-comments{
  left: 35px;
}

.fa-comments:before {
  content: "\e111";
}

.fa-close:before{
  content: "\e014";
}

.fa-chevron-circle-right:before{
  content: "\e171";
}

.voucher-code-input{

}

.fa-qrcode{
  z-index: 99;
  top: 10px !important;
  margin-left: -15px !important;
}

.fa-qrcode:before{
  content: "\e039"
}

.input-group-btn .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.unread-indicator {
  z-index: 999;
}

.mt-20{
  margin-top: 20px;
}

.pt-12{
  padding-top: 12px;
}

#eload-page {
  margin-top: 18px;
}

.page .btn, #home .btn {
  width: 90%;
  margin: 15px;
  padding: 20px 20px;
  font-size: 20px;
}
#home .btn {
  font-size: 30px;
  width: 85%;
}

#phone-number-page .btn {
  padding: 30px;
}
#regular-load-page .btn {
  padding: 30px;
}
#eload-products-page .btn, #emoney-products-page .btn {
  font-size: 20px;
}

#eload-paying-page .btn {
  padding: 20px 30px;
}

.btn-eload {
  background-image: url(../images/btn-icons/eload.png);
  background-repeat: no-repeat;
  background-size: 85px;
  background-position: 0px;
}

.btn-emoney {
  background-image: url(../images/btn-icons/emoney.png);
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: 11px;
}
.btn-bills {
  background-image: url(../images/btn-icons/bills.png);
  background-repeat: no-repeat;
  background-size: 58px;
  background-position: 21px;
}
.btn-kiosk {
  background-image: url(../images/btn-icons/kiosk.png);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: 15px;
}
.btn-transactions {
  background-image: url(../images/btn-icons/transactions.png);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: 10px;
}

.btn-globe {
  background-image: url(../images/btn-icons/globe.png);
  background-repeat: no-repeat;
  background-size: 74px;
  background-position: 4px;
}
.btn-smart {
  background-image: url(../images/btn-icons/smart.png);
  background-repeat: no-repeat;
  background-size: 88px;
  background-position: 4px;
}
.btn-tnt {
  background-image: url(../images/btn-icons/tnt.png);
  background-repeat: no-repeat;
  background-size: 88px;
  background-position: 4px;
}
.btn-sun {
  background-image: url(../images/btn-icons/sun.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 11px;
}
.btn-dito {
  background-image: url(../images/btn-icons/dito.png);
  background-repeat: no-repeat;
  background-size: 83px;
  background-position: 11px;
}
.btn-tm {
  background-image: url(../images/btn-icons/tm.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 11px;
}
.btn-cherry-prepa {
  background-image: url(../images/btn-icons/cherry-prepa.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 0px;
}
.btn-cignal {
  background-image: url(../images/btn-icons/cignal.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 1px;
}
.btn-gsat {
  background-image: url(../images/btn-icons/gsat.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 21px;
}
.btn-game-pins {
  background-image: url(../images/btn-icons/game-pins.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 5px;
}
.btn-meralco {
  background-image: url(../images/btn-icons/meralco.png);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 5px;
}
.btn-gcash {
  background-image: url(../images/btn-icons/gcash.png);
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 15px;
}
.btn-biller {
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: 15px;
}

.btn-kiok-product {
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: 15px;
}

.btn .number, .input-group .number {
  border: 2px solid white;
  color: white;
  padding: 0px 10px;
  border-radius: 100%;
  font-weight: normal;
  font-size: 25px;
  margin-top: 0px;
}
.input-group .input-group-addon {
  background-color: #06a182;
  padding-right: 0px;
}

.input-group .number {
  margin: 10px;
}

.btn .number.asterisk {
  padding: 4px 8px 0px 8px;
}
.btn .number.hash-sign {
  padding: 1px 8px 1px 8px;
}
h1.acc-credits {
  font-size: 75px;
  margin: 20px;
}

#order-kiosk-page .menu .number{
  position: absolute;
  right: 38px;
  top: 21px;
  font-size: 31px;
  border: 1px solid;
  padding: 14px;
  border-radius: 100%;
  font-weight: bold;
  color: black;
  width: 51px;
  height: 51px;
}
.kiosk-product {
  white-space: pre-line;
  padding: 2px 2px !important;
  background-color: transparent !important;
  border: 1px solid gray;
  height: 340px;
  max-height: 340px;
  overflow: hidden;
  line-height: 18px;
}
.kiosk-product p {
  margin: 0;
}
.kiosk-product h2{
  line-height: 28px;
  margin: 0px;
}
.kiosk-product .desc{
  line-height: 19px;
  margin: 0px;
  font-size: 18px;
}

.checkout-btn img{
  margin-top: -8px;
  height: 42px;
}

.prod-description {
  vertical-align: middle !important;
  padding: 0px !important;
}
.prod-description p{
  max-height: 55px;
  overflow: scroll;
  padding: 4px 0px;
  line-height: 15px;
  font-size: 15px;
  margin: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}